{% extends 'base.html' %}

{% block title %}
    calculate distance
{% endblock title %}


{% load crispy_forms_tags %}
{% block content %} 
    <div class="">
        <h1 >  Home Page </h1> <br>
        <p>first view :</p> 
        <p>{{obj}}</p>
    </div>
    <hr>
    <div>
        {{maps | safe}}
    </div>
    <hr>
    <div class="forms">
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            {{form | crispy}} <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <div>
        This product includes GeoLite2 data created by MaxMind, available from
        <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
    </div>
{% endblock content %}
